<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Overlay.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <Overlay.Properties.Settings>
            <setting name="ClockWindowEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DriveWindowEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ClockWindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ClockWindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DriveWindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DriveWindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ProcessWindowEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProcessWindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ProcessWindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ProcessNumberOfProcesses" serializeAs="String">
                <value>10</value>
            </setting>
        </Overlay.Properties.Settings>
    </userSettings>
</configuration>
